/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



    nav {
        background:white;
    }
    
     ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: sticky;
        top: 0;
    }
    
    a {
        display: block;
        padding: 8px;

    }
    div.row {
        width: 100%;
    }
    
    .row img {
        width: 400px;
	}
	
#navigation ul li {
	display: inline-block;
}

.logo-wrapper {
	float: left;
}

.logo-wrapper img {
	max-height: 26px;
}

nav#navigation {
    float: right;
}
nav#navigation ul {
	float: right;
}

#main-header {
	height: 80px;
    padding: 20px 0;
}

#main-header .container {
    padding-top: 20px;
}

#home .container {
    height: 450px;
    text-align: center;
    background-image: url("../img/intro-bg.png");
    background-size: cover;
}

#home .row {
    padding-top: 60px;
}

button {
    border-radius: 12px;
    transition-duration: 0.4s;
}
button:hover {
    background-color: blue;
    color: white;
}

#aboutus h2, p {
    text-align: center;
    line-height: 26px;
}

#aboutus .discription {
    margin-left: 60px;
    text-align: left;
    line-height: 25px;
}

.icon-wrapper {
	float: left;
}

.icon-wrapper i {
	max-height: 20px;
}


.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}

#services h1, p {
    text-align: center; 
}

#services .col-5 {
    padding: 20px;
    position: relative;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
}

#services .row {
    margin-left: 55px;
}